@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: white;
  --accent-color: white;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: var(--text-light);
  text-decoration: none;
}

main h2 {
  text-align: center;
  color: var(--text-dark);
  margin: 1rem 0;
  font-family: var(--secondary-font);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.gallery figure {
  margin: 0;
  padding: 0;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
}

@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.2em;
  cursor: pointer;
}

a:link, a:visited {
  color: var(--accent-color);
}

.hide {
  display: none;
}

#menuItems {
  list-style-type: none;
  padding: 0;
}

#menuButton {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  #menuItems {
      display: block;
  }
  #menuButton {
      display: none;
  }
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75); 
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  z-index: 10; 
}

.hide {
  display: none;
}

.close-viewer {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  justify-self: end; 
  margin: 10px;
}

.viewer img {
  max-height: 100%;
  max-width: 90%; 
  object-fit: contain; 
}