body {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header h2 {
    font-size: 16px;
    color: #006EB6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 5px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
main p {
    text-align: left;
    margin-bottom: 20px;
}
ol {
    padding-left: 20px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    margin-top: 30px;
}
footer img {
    width: 150px;
}